<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" name="username">
                        <input type="password" name="password">
                        <button class="btn btn-dark my-3" type="submit">Login</button>
                        <a href="{% url 'home' %}" class="btn btn-dark my-3">Go Back</a>
                    </form>

                    {% if messages %}
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

</body>
<footer>
    <div class="text-center">
        © 2024 PitPhoto Project - Version 1.0.0
    </div>
</footer>
</html>