<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta-Tags, Titel, Bootstrap CSS -->
    <title>Photo</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Styles -->
    <style>
        .photo-info {
            padding: 10px;
            background-color: #f7f7f7;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .photo-view {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }
    </style>
</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Foto-Informationen links -->
            <div class="col-md-4">
                <div class="photo-info">
                    <h3>Image Informations: </h3><br>
                    <p>Name: {{ photo.name }}</p>
                    <p>Width: {{ photo.width }}px</p>
                    <p>Height: {{ photo.height }}px</p>
                    <p>Size: {{ photo.size }}KB/MB/GB</p>
                    <p>Format: {{ photo.format }}</p>
                    <p>Copyright: {{ photo.copyright }}</p>
                    <p>Source: {{ photo.source }}</p>
                    <p>Created at: {{ photo.created_at }}</p>
                    <p>Created by: {{ photo.created_by }}</p>
                    <p>Updated at: {{ photo.updated_at }}</p>
                    <p>Updated by: {{ photo.updated_by }}</p>
                </div>
            </div>
            
            
            <div class="col-md-8">
                <img src="{{ photo.image.url }}" class="photo-view" alt="Photo">
                <p class="mt-3">{{ photo.description }}</p>
                <a href="{% url 'gallery' %}" class="btn btn-dark">Back to Gallery</a>
            </div>
        </div>
    </div>
</body>
</html>
